---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Showcase from '../components/Sections/Showcase.astro';
---

<Layout title="Welcome to HexaShield." description="where everything goes through">
	<main>
	
		<h1>Welcome to Astro</h1>
		<p>
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<Header />
		<Showcase />
	
	</main>
</Layout>
