---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Showcase from '../components/Sections/Showcase.astro';
import Pricing from '../components/Sections/Pricing.astro';
import Faq from '../components/Sections/Faq.astro';
import Clients from '../components/Sections/Clients.astro';
---

<Layout title="CorpShield Watermarking - Secure Your Corporate Data" description="CorpShield Watermarking provides advanced data leakage prevention mechanisms for corporations. Enhance your cybersecurity compliance with our transparent watermarking technology that protects sensitive information">
	<main>
		<Showcase />
		<Faq />
		<Clients />
		<Pricing />
	
	</main>
</Layout>
